<!doctype html> 
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../styles/reset.css" type="text/css" />
	<link rel="stylesheet" href="../styles/papers_style.css" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
	<script src="../scripts/list.min.js"></script>
	<script src="../scripts/papers.js"></script>
	<title><%= @title + ' | OpenPaper' %></title> 
	<meta name="description" content="OpenPaper" />
	<meta name="keywords" content="" />
</head>


<body>

<div id="logo"> 
	<img src="../images/openpaper_logo.png"/>
</div>

<div id="box">
	
	<div id="filter-bar">
		<form action="#" method="post">	
	        <div>
	            <input class="search" type="text" name="name" id="name" placeholder="Filter..." />
	        </div>
		</form>
	</div>
	
	<div id="content">
		
		<ul class="list" class="rectangle-list">
			<% @papers.each do |paper| %>
				<li><a class = "paperTitle" href="/papers/<%= paper.slug %>"> <%= paper.title %> </a>
					<p class = "paperAuthor"> • <%= paper.author %> </p>
						<div class = "right"> <img class="avatar" src=<%= paper.author_avatar %> />
						<a class = "source-button" href="<%= paper.source %>" target="_blank">↬</a></div>
				</li>			
			<% end %>
		</ul>
	</div>
	
	<footer>
		<ul>
			<li>About</li>
			<li>Blog</li>
			<li>Terms</li>
		</ul>
	</footer>
</div>

</body>
</html>


